.jcarousel-skin-opencartfc .jcarousel-clip {
	overflow: hidden;
	width: 100%;
}
.jcarousel-skin-opencartfc .jcarousel-item {
	text-align: center;
}
.box .carousel-box-content {
	padding: 25px 0 0 0;
}
#column-left + #content .box .carousel-box-content, #column-right + #content .box .carousel-box-content {
	padding-right: 5px;
}
#column-left + #column-right + #content .box .carousel-box-content {
	padding-right: 0;
}
.carousel-box-content .box-product > div {
	margin: 0 0 20px 0;
}
#column-left + #column-right + #content .jcarousel-skin-opencartfc .jcarousel-item {
	width: 203px !important;
}


/* Begin Horizontal Buttons */
.jcarousel-skin-opencartfc .jcarousel-next-horizontal {
	position: absolute;
	top: -53px;
	right: 0;
	width: 9px;
	height: 12px;
	cursor: pointer;
	background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-opencartfc .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencartfc .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencartfc .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencartfc .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-next-disabled.png') center no-repeat;
}
.jcarousel-skin-opencartfc .jcarousel-prev-horizontal {
	position: absolute;
	top: -53px;
	right: 15px;
	width: 9px;
	height: 12px;
	cursor: pointer;
	background: url('../image/button-previous.png') center no-repeat;
}
.jcarousel-skin-opencartfc .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencartfc .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencartfc .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencartfc .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-previous-disabled.png') center no-repeat;
}
/* End Horizontal Buttons */


/* Begin Sidebar Products */
#column-left .carousel-box-content .box-product > div {
	display: inline-block;
	position: relative;
	width: 188px;
	vertical-align: top;
	background-color: #FFF;
	margin: 0 0 20px -22px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}
#column-right .carousel-box-content .box-product > div {
	display: inline-block;
	position: relative;
	width: 188px;
	vertical-align: top;
	background-color: #FFF;
	margin: 0 0 0 22px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}
#column-left .carousel-box-content .box-product > div:hover, #column-right .carousel-box-content .box-product > div:hover {
	border-color: #D8D8D8;
}
#column-left .carousel-box-content .box-product .boxgrid, #column-right .carousel-box-content .box-product .boxgrid {
	float: none;
}
#column-left .carousel-box-content .box-product .box-product-info, #column-right .carousel-box-content .box-product .box-product-info,
#column-left .carousel-box-content .box-product .ribbon-sale, #column-right .carousel-box-content .box-product .ribbon-sale {
	display: block;
}
#column-left .carousel-box-content .box-product .boxgrid-bottom, #column-right .carousel-box-content .box-product .boxgrid-bottom  {
	text-align: left;
	margin: 12px 0 0 0;
	padding: 7px 0 0 0;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#column-left .carousel-box-content .box-product .boxgrid-bottom .arrow-box, #column-right .carousel-box-content .box-product .boxgrid-bottom .arrow-box {
	display: block;
}
#column-left .carousel-box-content .box-product .name a, #column-right .carousel-box-content .box-product .name a {
	font-size: 13px;
}
#column-left .carousel-box-content .box-product .price, #column-right .carousel-box-content .box-product .price {
	font-size: 14px;
}
#column-left .jcarousel-skin-opencartfc .jcarousel-next-horizontal {
	right: 10px;
}
#column-left .jcarousel-skin-opencartfc .jcarousel-prev-horizontal {
	right: 25px;
}
/* End Sidebar Products */