/*
Fabrica main stylesheet
by Themetorium
http://themeforest.net/user/Themetorium
*/

html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	color: #414141;
	margin: 0px;
	padding: 0px;
}
::selection {
	background-color: #C75635;
	color: #fff;
	text-shadow: none;
}
body, td, th, input, select, a {
	font-size: 13px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 24px;
	font-weight: normal;
}
h2 {
	font-size: 16px;
}
.heading-center {
	position: relative;
	text-align: left;
	margin-bottom: 15px;
	font-size: 24px;
	color: #414141;
}
.heading-product {
	text-align: left;
	padding-bottom: 15px;
}
.heading-product h1 {
	text-align: left;
	margin: 0;
	font-size: 28px;
}
p, textarea {
	margin-top: 0px;
	line-height: 21px;
}
p img, .category-info .image img {
	max-width: 100% !important;
	height: auto !important;
}
a, a:visited, a b {
	color: #C75635;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background-color: #fff;
	padding: 7px;
	margin: 5px 0 5px 0;
	color: #414141;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
textarea {
	width: 90% !important;
}
select {
	background-color: #fff;
	padding: 7px;
	margin-top: 5px;
	color: #414141;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
label {
	cursor: pointer;
}

/* Begin layout */
#container-wrapper {
	width: 1120px;
	margin: 0 auto;
}
#container {
	padding: 25px 0 10px 0;
	min-height: 535px;
	overflow: auto;
}
#column-left {
	float: left;
	width: 235px;
	margin: 0 0 30px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-top: none;
	border-bottom: none;
	border-left: none;
}
#column-right {
	float: right;
	width: 235px;
	margin: 0 0 30px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-top: none;
	border-bottom: none;
	border-right: none;
}
#content {
}
#column-left + #column-right + #content {
	margin-left: 235px;
	margin-right: 235px;
	padding-left: 20px;
	padding-right: 20px;
}
#column-right + #content {
	margin-right: 235px;
	padding-right: 20px;
}
#column-left + #content {
	margin-left: 235px;
	padding-left: 20px;
}
/* End layout */

/* Begin top bar */
#top-bar {
	background-image: url(../image/top-bar-bg.png);
	background-color: #363636;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	border-top: none;
	border-left: none;
	border-right: none;
}
#top-bar-content {
	position: relative;
	height: 48px;
	margin: 0 auto;
	width: 1120px;
}

/* Begin top bar dropdown links */
.links-mobile {
	display: none;
}

#top-bar .dropdown-links > ul {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #aaa;
}
#top-bar .dropdown-links > ul > li {
	list-style: none;
	float: left;
	cursor: pointer;
}

/* Begin top bar currency-language dropdown */
.language-selected, .currency-selected {
	display: block;
	background: url('../image/arrow-down-small-white.png') 88% center no-repeat;
	padding: 0 25px 0 15px;
	line-height: 48px;
	border-width: 1px;
	border-style: dotted;
	border-color: #474747;
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.language-selected img {
	margin-right: 2px;
}
#language-options, #currency-options {
	position: absolute;
	background-color: #FFF;
	min-width: 100px;
	z-index: 99999;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	border-bottom-color: #C75635;
}
#language-options .arrow-up-back, #currency-options .arrow-up-back {
	position: absolute;
	left: 26px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #FFF;
}
#language-options .arrow-up, #currency-options .arrow-up {
	position: absolute;
	left: 26px;
	top: -6px;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #FFF;
}
#language a, #currency a {
	display: block;
	line-height: 26px;
	color: #414141;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	padding: 8px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
	border-left: none;
	border-right: none;
}
#language a:last-child, #currency a:last-child {
	border: none;	
}
#language a:hover, #currency a:hover {
	background-color: #f1f1f1 !important;
	color: #C75635;
}
#language a  {
	padding: 8px 20px 8px 41px;	
}
#currency .symbol {
}
/* End top bar currency-language dropdown */

/* Begin top bar my account links */
#top-links {
	background: url('../image/my-menu-dark.png') 15px 50% no-repeat;
}
#top-links ul {
	padding: 0;
	margin: 0;
}
#top-links ul li {
	float: none !important;
	list-style: none;
}
.top-links-selected {
	display: block;
	background: url('../image/arrow-down-small-white.png') 87% center no-repeat;
	padding: 0 25px 0 37px;
	line-height: 48px;
	border-width: 1px;
	border-style: dotted;
	border-color: #474747;
	border-top: none;
	border-bottom: none;
}
#top-links-options {
	position: absolute;
	background-color: #FFF;
	min-width: 200px;
	line-height: 26px;
	z-index: 99999;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-bottom-color: #C75635;
}
#top-links-options .arrow-up-back {
	position: absolute;
	left: 26px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #FFF;
}
#top-links-options .arrow-up {
	position: absolute;
	left: 26px;
	top: -6px;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #FFF;
}
#top-links-options li a {
	display: block;
	padding: 8px 40px 8px 20px;
	font-size: 12px;
	text-decoration: none;
	color: #414141;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
	border-left: none;
	border-right: none;
}
#top-links-options li:last-child a { 
	border: none;
}
#top-links-options li a:hover {
	background-color: #f1f1f1;
	color: #C75635;
}

#top-links-options .account {
	background: url('../image/account-dark.png') 89% 50% no-repeat;
}
#top-links-options .wishlist {
	background: url('../image/wishlist-dark.png') 89% 50% no-repeat;
}
#top-links-options .shopping-cart {
	background: url('../image/cart-dark.png') 89% 50% no-repeat;
}
#top-links-options .checkout {
	background: url('../image/checkout-dark.png') 89% 50% no-repeat;
}
/* End top bar my account links */

/* Begin top bar social icons */
#top-bar .social-icons {
	position: absolute;
	top: 9px;
	right: 455px;
}
#top-bar .social-icons ul {
	margin: 0;
	padding: 0;
}
#top-bar .social-icons li {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin-right: 13px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#top-bar .social-icons li:hover {
	opacity: 0.6;
	filter: Alpha(opacity=80); /* IE8 and earlier */
}
/* End top bar social icons */

/* Begin top bar welcome */
#welcome-mobile {
	display: none;
}

#top-bar #welcome {
	float: right;
	font-size: 12px;
	color: #aaa;
	line-height: 48px;
}
#top-bar #welcome a {
	color: #C75635;
	font-size: 12px;
}
#top-bar #welcome a:hover {
	text-decoration: underline;
}
/* End top bar welcome */
/* End top bar dropdown links */
/* End top bar */

/* Begin header */
#header {
	background-color: #fff;
	padding: 35px 0;
}
#header-content {
	margin: 0 auto;
	width: 1120px;
	height: 48px;
}

/* Begin header logo */
#header #logo {
	float: left;
}
#header #logo img {
	max-height: 48px;
}
/* End header logo */

/* Begin header search */
#search-mobile {
	display: none;
}
#header #search {
	position: relative;
	float: right;
	margin-right: 5px;
}
#header #search input {
	padding: 0px 55px 0px 10px;
	margin: 0;
	width: 200px;
	height: 46px;
	color: #414141;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#header #search input:focus {
	width: 440px;
}
#header .button-search {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../image/button-search.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 55px;
	height: 100%;
	cursor: pointer;
}
/* End header search */

/* Begin header cart */
#header #cart {
	position: relative;
	float: right;
}
#header #cart .heading {
	text-align: right;
	line-height: 48px;
}
#header #cart .heading h4 {
	margin: 0;
}
#header #cart .heading a {
	display: block;
	height: 48px;
	text-decoration: none;
	font-size: 15px;
	font-weight: normal;
	color: #FFF;
	padding-left: 12px;
	background-image: url(../image/pat-bg2.png);
	background-color: #C75635;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#header #cart .heading a span {
	background: url(../image/cart-white.png) 90% 1px no-repeat;
	padding-right: 38px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: absolute;
	right: 0;
	min-width: 330px;
	background-color: #FFF;
	color: #414141;
	padding-bottom: 15px;
	min-height: 150px;
	z-index: 99999;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
}
#header #cart .arrow-up-back {
	position: absolute;
	right: 74px;
	top: -10px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ddd;
}
#header #cart .arrow-up {
	position: absolute;
	right: 74px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;
}
#header #cart.active .heading {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .mini-cart-info tr {
}
.mini-cart-info td {
	text-align: left;
	vertical-align: top;
	padding: 12px 5px 6px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
	border-left: none;
	border-right: none;
}
.mini-cart-info td a {
	font-size: 12px;
	color: #C75635;
}
.mini-cart-info td a:hover {
	text-decoration: underline;
}
.mini-cart-info .image {
	width: 1px;
	padding-left: 15px;
}
.mini-cart-info .image img {
	text-align: left;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}
.mini-cart-info .name small {
	color: #999;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
	padding-right: 15px;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
	padding-right: 15px;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	padding: 4px;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
/* End header cart */
/* End header */

/* Begin menu */
#menu-mobile {
	display: none;
}
#menu-area {
	position: relative;
	width: 100%;
	height: 68px;
	z-index: 99;
}
#menu-wrapper {
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-bottom-color: #ddd;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.11);
}
#menu {
	margin: 0 auto;
	width: 1120px;
}
#menu-content {
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-left: none;
	border-bottom: none;
	border-top: none;
}

/* Begin fixed menu scroll */
.fixed-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	border-top: none !important;
}
/* End fixed menu scroll */

#menu-content ul {
	width: 100%;
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu-content > ul > li {
	display: table-cell;
	text-align: center;
}
#menu-content > ul > li > a {
	position: relative;
	display: block;
	line-height: 68px;
	font-size: 14px;
	font-weight: bold;
	color: #414141;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-right: none;
	border-bottom: none;
	border-top: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#menu-content > ul > li > a > .arrow-down:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 0px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #C75635;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#menu-content > ul > li:hover > a > .arrow-down:before {
	border-bottom-color: #e2e2e2;
}
#menu-content > ul > li:hover > a {
	background-color: #fff;
	color: #C75635;
}
#menu-content > ul > li:hover > a .arrow-up-back {
	position: absolute;
	left: 28px;
	bottom: -1px;
	width: 0;
	height: 0;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #DDD;
}
#menu-content > ul > li:hover > a .arrow-up {
	position: absolute;
	left: 30px;
	bottom: -1px;
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid #FFF;
	z-index: 9999;
}
#menu-content > ul > li > div {
	position: absolute;
	display: none;
	width: 16%;
	overflow: hidden;
	text-align: left;
	z-index: 999;
	background-color: #FFF;
	color: #414141;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-bottom-color: #C75635;
}
#menu-content > ul > li:hover > div {
	display: table;
}
#menu-content > ul > li > div > ul {
	display: table-cell;
	width: auto;
}
#menu-content > ul > li ul + ul {
	padding-left: 5px;
}
#menu-content > ul > li ul > li + li {
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
#menu-content > ul > li ul > li > a {
	text-decoration: none;
	padding: 12px 20px;
	display: block;
	white-space: nowrap;
	min-width: 140px;
}
#menu-content > ul > li ul > li > a:hover {
	background-color: #f1f1f1;
	color: #C75635;
}
#menu-content > ul > li > div > ul > li > a {
	color: #414141;
}
/* End menu */

/* Begin breadcrumb */
.breadcrumb {
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 25px;
	color: #999;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-top: none;
	border-left: none;
	border-right: none;
}
#breadcrumb-center {
}
.breadcrumb a {
	font-size: 12px;
	color: #aaa !important;
}
.breadcrumb a:last-child {
}
.breadcrumb a:hover {
	color: #C75635 !important;
}
/* End breadcrumb */

/* Begin notice */
#notification-fixed {
	margin: auto;
	max-width: 395px;
}
#notification-fixed .success, #notification-fixed .warning, #notification-fixed .attention, #notification-fixed .information {
	max-width: 400px;
	position: fixed;
	top: 37%;
	z-index: 99999;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
}
.success, .warning, .attention, .information {
	max-width: 400px;
	margin: 0 auto 15px auto;
	text-align: center;
	line-height: 21px;
	padding: 15px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.success, .information {
	background-color: #fff;
	border-color: #d1d1d1;
	color: #414141;
}
.attention {
	background-color: #FFF8BA;
	border-color: #FFE16B;
	color: #A19318;
}
.warning {
	background-color: #FFDFDF;
	border-color: #FACACA;
	color: #FF3030;
}
.success a, .warning a, .attention a, .information a {
	color: #C75635;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	top: -13px;
	right: -13px;
	cursor: pointer;
	background-color: #fff;
	padding: 8px;
	z-index: 99999;
	border-width: 1px;
	border-style: solid;
}
.success .close, .information .close {
	border-color: #d1d1d1;
}
.attention .close {
	border-color: #FFE16B;
}
.warning .close {
	border-color: #FF9494;
}
.success .close:hover, .warning .close:hover, .attention .close:hover, .information .close:hover {
	background-color: #eee;
}
/* End notice */

.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #EE4848;
}
.help {
	color: #999;
	font-size: 10px;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	max-width: 100%;
}
table.list {
	background-image: url(../image/pat-bg.png);
	background-color: #F1F1F1;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
table.list td {
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
}
table.list thead td {
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	padding: 0px 5px;
	color: #fff;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #444;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

/* Begin pagination */
.pagination {
	display: inline-block;
	width: 100%;
	margin: 15px 0 47px 0;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline;
	background-color: #FFF;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #414141;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.pagination .links a:hover {
	background-color: #eee;
}
.pagination .links b {
	display: inline;
	background-color: #C75635;
	padding: 5px 10px;
	font-size: 12px;
	color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C75635;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.pagination .results {
	float: right;
	font-size: 12px;
	color: #888;
	line-height: 29px;
}
/* End pagination */

/* Begin buttons */
a.button, input.button {
	display: inline-block;
	background-image: url(../image/pat-bg2.png);
	background-color: #C75635;
	padding: 8px 15px;
	color: #FFF !important;
	text-decoration: none;
	cursor: pointer;
	line-height: 17px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.button:hover, input.button:hover {
	background-color: #444;
}
input.qtyplus, input.qtyminus {
	width: 43px;
	height: 43px;
	background-image: url(../image/pat-bg.png);
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
	color: #414141 !important;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
input.qtyplus:hover, input.qtyminus:hover {
}
input.button-product-page {
	background-image: url(../image/pat-bg2.png);
	background-color: #C75635;
	padding: 0 28px;
	margin: 0;
	color: #FFF !important;
	text-decoration: none;
	cursor: pointer;
	height: 43px;
	font-size: 14px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
input.button-product-page:hover {
	background-color: #444;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
	margin: 5px 15px 0 0;
}
#header #cart .checkout a {
	background-image: url(../image/pat-bg2.png);
	background-color: #C75635;
	padding: 8px 15px;
	margin-left: 2px;
	color: #FFF;
	text-decoration: none;
	line-height: 19px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#header #cart .checkout a:hover {
	background-color: #444;
}
#header #cart #checkout-button {
}
#header #cart #checkout-button:hover {
}
.buttons {
	overflow: auto;
	padding: 10px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Begin thumbnail buttons */
.box-product-info .thumbnail-buttons {
}
.box-product-info .more a {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	left: 0;
	background-image: url(../image/button-view-more.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #C75635;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .more a:hover {
	background-color: #444;
}
.box-product-info .wishlist a {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	left: 43px;
	background-image: url(../image/button-wishlist.png);
	background-position: 50% 12px;
	background-repeat: no-repeat;
	background-color: #C75635;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .wishlist a:hover {
	background-color: #444;
}
.box-product-info .compare a {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	left: 86px;
	background-image: url(../image/button-compare.png);
	background-position: 47% 42%;
	background-repeat: no-repeat;
	background-color: #C75635;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .compare a:hover {
	background-color: #444;
}
.box-product-info .button-cart {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	right: 0;
	cursor: pointer;
	text-indent: -99999px;
	background-image: url(../image/cart-white.png);
	background-position: 51% 12px;
	background-repeat: no-repeat;
	background-color: #C75635;
	border: none;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .button-cart:hover {
	background-color: #444;
}
/* End thumbnail buttons */
/* End buttons */

/* Begin product page tabs */
.htabs {
	margin-top: 50px;
}
.htabs ul {
	display: table;
	list-style: none;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 2px 0;
}
.htabs ul li {
	display: table-cell;
}
.htabs ul li a {
	position: relative;
	display: block;
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	padding: 14px 0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: #FFF;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.htabs ul li a:hover {
	background-color: #444;
}
.htabs ul li a.selected {
	background-color: #444;
}
.htabs ul li a.selected span.arrow-down {
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -11px;
	width: 0;
	height: 0;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 11px solid #444;
}
.tab-content {
	background-color: #FFF;
	padding: 20px;
	margin: 25px 0;
	z-index: 2;
	font-family: Times New Roman;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.tab-content ul {
	line-height: 19px;
}
#captcha {
	margin-top: 10px;
}
/* End product page tabs */

/* Begin tags */
.tags {
	margin-bottom: 40px;
}
/* End tags */

/* Begin welcome */
.welcome-message {
	overflow: hidden;
}
.welcome-message p {
	margin-top: 13px;
}
#column-left .welcome-message {
	text-align: left;
	padding: 0 15px 15px 0;
}
#column-right .welcome-message {
	text-align: left;
	padding: 0 0 15px 20px;
}
/* End welcome */

/* BEGIN BOX */
.box {
	padding-bottom: 15px;
}

/* Begin box heading */
.box .box-heading {
	margin-top: 15px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
	color: #414141;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-left: none;
	border-right: none;
	border-top: none;
}
.box .box-heading span {
	padding: 0 10px 10px 0;
	border-bottom: 1px solid #C75635;
}
/* End box heading */

.box .box-content {
	margin-top: 25px;
	text-align: left !important;
}
#column-right .box .box-content {
	margin-left: 20px;
}
.box-account-content ul, .box-information-content ul, .affiliate > ul {
	list-style-type: none;
	padding: 0 10px 0 0;
	line-height: 26px;
}
.box-account-content ul li, .box-information-content ul li, .affiliate > ul li {
	background: url('../image/arrow-right-dark.png') left center no-repeat;
	padding-left: 11px;
}
.box-account-content ul li a, .box-information-content ul li a, .affiliate > ul li a {
	color: #414141;
}
.box-account-content ul li a:hover, .box-information-content ul li a:hover, .affiliate > ul li a:hover {
	color: #C75635;
}

/* Begin box-product */
.box-product {
	width: 100%;
}
.box-product > div {
	display: inline-block;
	position: relative;
	width: 188px;
	vertical-align: top;
	background-color: #FFF;
	margin: 0 0 20px 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product > div:hover {
	border-color: #d8d8d8;
}
.box-product .boxgrid {
	position: relative;
	overflow: hidden;
}
.box-product .image {
	text-align: center;
	line-height: 1px;
}
.box-product .image img {
	padding: 0;
}
.box-product-info {
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -84px;
	width: 169px;
	height: 43px;
	z-index: 9;
	opacity: 0;
	filter: Alpha(opacity=0);
}
.box-product .rating {
	margin-top: 3px;
}
.box-product .boxgrid-bottom {
	text-align: left;
	margin-top: 12px;
	padding-top: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.box-product .boxgrid-bottom .arrow-box {
	position: relative;
	top: -7px;
}
.box-product .boxgrid-bottom .arrow-box:before {
	content: "";
	position: absolute;
	left: 50%;
	top: -6px;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-bottom: 6px solid #E1E1E1;
}
.box-product .boxgrid-bottom .arrow-box:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -4px;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-bottom: 6px solid #FFF;
}
.box-product .name {
}
.box-product .name a {
	text-decoration: none;
	color: #414141;
}
.box-product .name a:hover {
	color: #414141;
}
.box-product .price {
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #C75635;
}
.box-product .price-old {
	font-weight: normal;
	color: #bbb;
	text-decoration: line-through;
}
.box-product .price-new {
	color: #C75635;
}
.ribbon-sale {
	position: absolute;
	width: 58px;
	height: 23px;
	top: 11px;
	left: 10px;
	z-index: 9;
	background: url('../image/ribbon-sale.png') no-repeat;
}
/* End box-product */

/* Begin column-left + content and/or column-right + content  */
#column-left + #content .box-product > div, #column-right + #content .box-product > div {
	width: 180px;
}
#column-left + #content .category-info, #column-right + #content .category-info {
	margin: 0 7px 35px 10px;
}
#column-left + #content .category-list, #column-right + #content .category-list {
	margin: 0 10px 25px 11px;
}


#column-left + #column-right + #content .box-product > div {
	width: 170px;
	margin: 0 0 20px 6px;
}
#column-left + #column-right + #content .box-product .image img {
	width: 100%;
}
/* End column-left + content and/or column-right + content  */

/* Begin left and right sidebar content */
#column-left .box .box-heading, #column-right .box .box-heading {
	margin-top: 0;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #414141;
	border-color: #e6e6e6;
}
#column-right .box .box-heading span {
	margin-left: -20px;
	padding: 0 10px 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #C75635;
	border-top: none;
	border-left: none;
	border-right: none;
}
#column-left .box .box-heading span {
	border-color: #C75635;
}
#column-right .box .box-heading {
	padding-left: 20px;
}
 #column-left .box-product > div, #column-right .box-product > div {
	width: 100%;
	background: transparent;
	margin: 0 0 20px 0;
	padding: 0;
	border: none;
}
#column-left .box-product .boxgrid, #column-right .box-product .boxgrid {
	float: left;
}
#column-left .box-product .box-product-info, #column-right .box-product .box-product-info,
#column-left .box-product .ribbon-sale, #column-right .box-product .ribbon-sale {
	display: none;
}
#column-left .box-product .boxgrid-bottom, #column-right .box-product .boxgrid-bottom {
	text-align: left;
	padding: 0;
	margin: 0 0 0 75px;
	border: none;
}
#column-left .box-product .boxgrid-bottom .arrow-box, #column-right .box-product .boxgrid-bottom .arrow-box {
	display: none;
}
#column-left .box-product .name a, #column-right .box-product .name a {
	font-size: 12px;
}
#column-left .box-product .price, #column-right .box-product .price {
	font-size: 13px;
}
#column-right .box-account-content, #column-right .box-information-content, #column-right .affiliate-content {
	margin-left: 20px;
}
#column-left .box, #column-right .box {
	padding-bottom: 20px;
}
#column-left .box .box-content {
	margin-right: 20px;
}
/* End left and right sidebar content */

/* box category */
#box-category-area {
	padding: 0;
}
ul.box-category {
}
ul.box-category, ul.box-category ul {
	list-style: none;
	padding: 0;
	margin: -10px 0 15px 0;
}
ul.box-category > li:first-child {	
}
ul.box-category > li + li {
}
ul.box-category > li > a {
	display: block;
	position: relative;
	background: url(../image/category.png) left 11px no-repeat;
	padding: 5px 10px 5px 13px;
	text-decoration: none;
	color: #414141;
}
ul.box-category > li > a:hover {
	background: url(../image/category-hover.png) left 11px no-repeat;
	color: #C75635;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	background: url(../image/category-hover.png) left 11px no-repeat;
	color: #C75635;
}
ul.box-category > li a.active + ul {
	display: block;
	margin: 0;
	padding: 0 0 5px 10px;
}
ul.box-category > li ul > li {
	padding: 5px 0;
}
.box-category > ul > li ul > li:first-child {
}
ul.box-category > li ul > li > a {
	display: block;
	text-decoration: none;
	color: #414141;
}
ul.box-category > li ul > li > a:hover {
	color: #C75635;
}
ul.box-category > li ul > li > a.active {
	color: #C75635;
	background: none;
}

/* Begin box filter */
#box-filter {
	margin-bottom: 20px;
}
ul.box-filter-inner {
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
}
ul.box-filter-inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter-inner span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}
ul.box-filter-inner > li ul {
	padding-bottom: 10px;
}

#column-left + #content #box-filter, #column-right + #content #box-filter {
	margin-bottom: 30px;
}
#column-left + #content #filter-box-heading, #column-right + #content #filter-box-heading {
	display: none;
}
#column-left + #content ul.box-filter-inner > li, #column-right + #content ul.box-filter-inner > li {
	display: inline-block;
	margin-right: 20px;
}
/* End box filter */
/* END BOX */

/* content */
#content .content {
	background-color: #f5f5f5;
	background-image: url(../image/pat-bg.png);
	padding: 20px;
	overflow: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#content .content ul {
	line-height: 28px;
	list-style: none;
	padding-left: 15px;
}
#content .content ul li {
	background: url('../image/myaccount-link-red.png') left no-repeat;
	padding-left: 22px;
	color: #414141;
}
#content .content ul li a {
	color: #414141;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}

/* category */
.category-info {
	position: relative;
	background-image: url(../image/pat-bg.png);
	background-color: #414141;
	padding: 20px;
	margin-bottom: 35px;
	color: #eee !important;
	border-width: 1px;
	border-style: solid;
	border-color: #414141;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.category-info:before {
	content: "";
	position: absolute;
	left: 90%;
	bottom: -11px;
	margin-left: -11px;
	width: 0;
	height: 0;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 11px solid #414141;
}
.category-info:after {
	content: "";
	position: absolute;
	left: 90%;
	bottom: -9px;
	margin-left: -11px;
	width: 0;
	height: 0;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 11px solid #414141;
}
.category-info-inner {
	overflow: hidden;
}
.category-info .heading-center {
	margin: 0;
	font-size: 24px;
	color: #EEE !important;
}
.category-info p {
	margin-top: 10px;
	font-family: Bookman Old Style;
	font-size: 13px;
}
.category-info ul {
	line-height: 19px;
}
.category-info .image {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}
.category-info .image img {
}
.category-list {
	overflow: auto;
	margin-bottom: 25px;
}
.category-list span {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
.category-list ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.category-list ul li a {
	float: left;
	background-image: url(../image/pat-bg2.png);
	background-color: #C75635;
	padding: 8px 15px;
	margin: 0 5px 10px 0;
	text-decoration: none;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.category-list ul li a:hover {
	background-color: #444;
}

/* manufacturer */
.manufacturer-list {
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
}
.manufacturer-heading {
	background-color: #eee;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}

/* Begin product filter */
.product-filter {
	overflow: auto;
	padding: 0px 8px 0 10px;
}
.product-filter .sort {
	float: left;
	background-color: #fff;
	padding: 3px 5px 3px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product-filter .limit {
	float: left;
	background-color: #fff;
	padding: 3px 5px 3px 10px;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product-compare {
	float: right;
	padding-bottom: 15px;
}
.product-compare a {
	display: inline-block;
	padding: 13px;
	margin-top: 0px;
	background-color: #FFF;
	text-decoration: none;
	font-size: 12px;
	color: #555 !important;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product-compare a:hover {
	color: #C75635 !important;
}
.product-filter select {
	margin-top: 2px;
	border: none;
}
/* End product filter */

.navbar .nav>li>.dropdown-menu:before {
content: '';
display: inline-block;
border-left: 7px solid rgba(0, 0, 0, 0);
border-right: 7px solid rgba(0, 0, 0, 0);
border-bottom: 7px solid #CCC;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 9px;
}

/* Product page */
.product-info {
	overflow: auto;
}
.product-info > .left {
	float: left;
}
.product-info > .left + .right {
	margin-left: 450px;
	padding-left: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.product-info .image {
	position: relative;
	float: left;
	margin-bottom: 40px;
	text-align: center;
}
.product-info .image .zoom {
	margin-top: 10px;
	z-index: 999;
}
.product-info .image .zoom a {
	font-size: 12px;
	color: #414141;
	background-image: url('../image/zoom-dark.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	padding: 5px 8px 5px 16px;
}
.product-info .image-additional {
	width: 405px;
	margin: 0;
	clear: both;
	overflow: hidden;
	float: left;
}
.product-info .image-additional img {
}
.product-info .image-additional a {
	float: left;
	display: block;
	line-height: 1px;
	margin-right: 18px;
	margin-bottom: 10px;
}
.product-info .description {
	margin-bottom: 10px;
	line-height: 22px;
	color: #999;
	font-size: 12px;
}
.product-info .description span {
	color: #444;
}
.product-info .description a {
	font-size: 12px;
}
.product-info .price-container {
	margin-bottom: 15px;
}
.product-info .price {
	font-size: 26px;
	color: #414141;
}
.product-info .price-old {
	color: #bbb;
	text-decoration: line-through;
	font-size: 20px;
}
.product-info .price-new {
}
.product-info .price-tax {
	color: #888;
}
.product-info .tax-reward {
	margin-bottom: 15px;
}
.product-info .discount {
	margin-bottom: 20px;
	font-size: 12px;
}
.product-info .options {
	font-size: 12px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;	
}
.product-info .cart {
	padding: 10px 0;
}
.product-page-quantity {
	float: left;
	margin-right: 10px;
}
input.quantity-text {
	width: 42px;
	height: 40px;
	margin: 0 -3px;
	padding: 0 0 1px 0;
	text-align: center;
	font-size: 14px;
	color: #414141;
	border-color: #E6E6E6;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 12px;
	color: #999;
}
.product-add-list-compare {
	margin-top: 15px;
}
.product-add-to-wishlist, .product-add-to-compare {
	display: inline-block;
	padding: 10px 15px;
	margin-top: 5px;
	color: #414141;
	text-decoration: none !important;
	font-size: 12px;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.product-add-to-wishlist:hover, .product-add-to-compare:hover {
	color: #C75635;
}
.write-review {
	background: url(../image/plus-dark.png) left center no-repeat;
	padding-left: 12px;
	margin-left: 10px;
}
.product-info .review {
	color: #4D4D4D;
	margin-bottom: 10px;
}
.product-info .review a {
	color: #414141;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product-info .review > div {
	padding: 10px 0 20px 0;
}
.product-info .review > div > span {
	color: #C44032;
}
.product-info .review .share {
	overflow: hidden;
	line-height: normal;
	padding: 0;
}
.product-info .review .share a {
	background-color: #fff;
	text-decoration: none;
	margin: 0 5px 5px 0;
	padding: 22px 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.product-info .review .share a:hover {
	background-color: #EEE;
	border-color: #DDD;
}
.product-info .review .share a:last-child {
	margin-right: 0;
}
.review-list {
	padding-bottom: 15px;
	overflow: auto;
	margin-bottom: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
	border-left: none;
	border-right: none;
}
.review-list .author {
	float: left;
	margin-bottom: 10px;
	background: url(../image/review-list-author.png) no-repeat;
	padding-left: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 10px;
}
.review-list .text {
	clear: both;
	font-style: italic;
	line-height: 19px;
}
.review-write {
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-right: none;
	border-bottom: none;
}
.attribute thead td, .attribute thead tr td:first-child {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.12);
	text-align: left;
}
.attribute tr td:first-child {
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	text-align: center;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-top: none;
	border-left: none;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	background-color: #FFF;
}
.compare-info-img {
	background-color: #fff;
	padding: 3px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	color: #FFF;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #444;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 12px;
	width: 20%;
	color: #444;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.compare-info .name a {
}
.compare-info .price {
	color: #DD5151;
}
.compare-info .price-old {
	color: #888;
	text-decoration: line-through;
}
.compare-info .price-new {
	color: #DD5151;
}

/* wishlist */
.wishlist-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	padding: 10px;
	color: #FFF;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	background-image: url(../image/pat-bg.png);
	background-color: #f5f5f5;
	vertical-align: top;
	padding: 12px 5px 8px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	border-top: none;
	border-left: none;
	border-right: none;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .image img {
	background-color: #fff;
	padding: 3px;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .name a {
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .action {
	padding-right: 15px;
}
.wishlist-info tbody .price s {
	color: #999;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	background-image: url(../image/pat-bg.png);
	background-color: #f5f5f5;
	padding: 15px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 5px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
	line-height: 19px;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background-color: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	padding: 10px;
	color: #FFF;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	background-color: #F5F5F5;
	background-image: url(../image/pat-bg.png);
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	border-top: none;
	border-left: none;
	border-right: none;
}
.cart-info tbody .image img {
	background-color: #fff;
	padding: 3px;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background-image: url(../image/pat-bg.png);
	background-color: #6D6D6D;
	padding: 10px;
	color: #FFF;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-size: 12px;
	color: #fff;
}
.checkout-content {
	display: none;
	background-color: #F5F5F5;
	background-image: url(../image/pat-bg.png);
	padding: 20px;
	margin-bottom: 15px;
	overflow: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	font-weight: bold;
	background-color: #fff;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}

/* Begin sitemap */
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info ul {
	line-height: 26px;
}
.sitemap-info ul li ul {
	text-transform: none;
}
.sitemap-info ul li a {
	font-size: 12px;
	color: #414141;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
.sitemap-info .left > ul > li > a, .sitemap-info .right > ul > li > a {
	font-weight: bold;
	text-decoration: underline;
}
/* End sitemap */

/* Begin welcome message newsletter block */
.welcome-message .store-newsletter {
	margin: 15px 0;
	padding: 20px;
	color: #414141;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.welcome-message .store-newsletter .subscribe-logo {
	float: left;
	margin: 7px 30px 0 0;
	padding-right: 45px;
	font-size: 22px;
	background: url(../image/subscribe-phone.png) right center no-repeat;
}
.welcome-message .store-newsletter .subscribe-logo span {
	font-size: 22px;
	margin-left: 15px;
	color: #C75635;
}
.welcome-message .store-newsletter .subscribe-form {
	float: right;
	font-size: 22px;
}
.welcome-message .store-newsletter .subscribe-form label {
	display: block;
	float: left;
	margin-right: 25px;
	margin-top: 7px;
}
.welcome-message .store-newsletter .subscribe-form input.email {
	padding: 11px;
	color: #9D9B9B;
	float: left;
	margin: 1px 15px 0 0;
	width: 265px;
	border-width: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#column-left + #content .welcome-message .store-newsletter .subscribe-form input.email, #column-right + #content .welcome-message .store-newsletter .subscribe-form input.email {
	width: 200px;
}
#column-left + #content .welcome-message .store-newsletter .subscribe-logo span, #column-right + #content .welcome-message .store-newsletter .subscribe-logo span,
#column-left + #content .welcome-message .store-newsletter .subscribe-logo, #column-right + #content .welcome-message .store-newsletter .subscribe-logo,
#column-left + #content .welcome-message .store-newsletter .subscribe-form, #column-right + #content .welcome-message .store-newsletter .subscribe-form {
	font-size: 18px;
}
#column-left + #column-right + #content .welcome-message .store-newsletter .subscribe-form {
	float: left;
	margin-top: 20px;
}
.welcome-message #newsletter-button {
	padding: 12px 15px;
}
/* End welcome message newsletter block */

/* Begin welcome message map block */
.welcome-message .map-info {
	margin: 15px 0;
}
.welcome-message .map-wrapper {
	float: left;
	width: 520px;
	background-color: #f1f1f1;
	padding: 20px;
	margin-right: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#column-left + #content .map-wrapper, #column-right + #content .map-wrapper {
	width: 400px;
}
#column-left + #column-right + #content .map-wrapper {
	float: none;
	width: 570px;
	margin-bottom: 15px;
}
.welcome-message .map {
	line-height: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
}
.welcome-message .map-text {
}
.welcome-message .map-text h1 {
	margin-top: 5px;
	font-weight: 300;
}
/* End welcome message map block */

/* Begin footer */
#footer-mobile {
	display: none;
}
#footer-area {
	clear: both;
	background-image: url(../image/footer-bg.png);
	background-color: #242424;
	border-width: 1px;
	border-style: solid;
	border-color: #222;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#footer {
	margin: 0 auto;
	width: 1120px;
	min-height: 100px;
	padding: 35px 0 15px 0;
	color: #777;
}
#footer-columns {
	overflow: hidden;
	margin-bottom: 20px;
}
#footer h3 {
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 14px;
	color: #888;
}
#footer .column1, #footer .column2, #footer .column3, #footer .column4 {
	float: right;
	width: 18%;
	min-height: 130px;
	margin-right: 15px;
}
#footer .column1 ul, #footer .column2 ul, #footer .column3 ul, #footer .column4 ul {
	margin: 0;
	padding: 0;
	line-height: 24px;
}
#footer .column1 ul li, #footer .column2 ul li, #footer .column3 ul li, #footer .column4 ul li {
	list-style-type: none;
}
#footer .column1 a, #footer .column2 a, #footer .column3 a, #footer .column4 a {
	display: block;
	background: url('../image/arrow-right-dark.png') left 10px no-repeat;
	padding-left: 10px;
	color: #888;
	text-decoration: none;
}
#footer .column1 a:hover, #footer .column2 a:hover, #footer .column3 a:hover, #footer .column4 a:hover {
	color: #bbb;
}
/* footer contacts */
.column-contacts {
	position: relative;
	float: right;
	width: 22%;
	min-height: 130px;
	margin: 0;
}
.column-contacts ul {
	margin: 0;
	padding: 0;
}
.column-contacts ul li {
	color: #888;
	padding-left: 30px;
	line-height: 28px;
	list-style-type: none;
}
.column-contacts .phone {
	background: url(../image/phone.png) left center no-repeat;
}
.column-contacts .mobile {
	background: url(../image/mobile.png) 4px center no-repeat;
}
.column-contacts .email {
	background: url(../image/email.png) left center no-repeat;
}
.column-contacts a {
	display: block;
	font-size: 12px;
	color: #888;
}

/* powered */
#powered-area {
	background-image: url(../image/footer-bg.png);
	background-color: #202020;
	border-width: 1px;
	border-style: solid;
	border-color: #202020;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#powered {
	margin: 0 auto;
	width: 1120px;
	font-size: 12px;
	color: #757575;
	padding: 20px 0;
}
#powered a {
	color: #757575;
}
.powered-alignleft {
	float: left;
	margin-top: 10px;
}
.powered-alignleft img {
	margin-right: 2px;
}
.powered-alignleft a {
	font-size: 12px;
	color: #757575  !important;
}
.powered-alignright {
	float: right;
	text-align: right;
}
.powered-alignright a {
	font-size: 12px;
	color: #757575 !important;
}
/* End footer */

/* Begin banner */
.banner {
	text-align: center;
	margin: 15px 0;
	overflow: hidden;
	line-height: 0;
}
#column-left .banner, #column-right .banner {
	margin-top: 0;
}
.banner div {
	float: left;
	max-width: 100%;
	margin: 0 7px 15px 10px;
	line-height: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.banner div:first-child {

}
.banner div:hover {
	opacity: 0.9;
	filter: Alpha(opacity=90); /* IE8 and earlier */
}
.banner div img {
	max-width: 100%;
}
#column-left .banner {
	text-align: left;
}
#column-right .banner {
}
#column-left .banner div {
	margin: 0 0 15px 0;
}
#column-right .banner div {
	margin: 0 0 15px 20px;
}
.clear {
	clear: both;
	visibility: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
/* End banner */

/* Begin scroll to top button */
#scroll-to-top {
	width: 30px;
	height: 30px;
	background-image: url(../image/scroll-up.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #414141;
	text-align: center;
	position: fixed;
	bottom: 23px;
	right: 25px;
	cursor: pointer;
	opacity: 0.4;
	filter: Alpha(opacity=50); /* IE8 and earlier */
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-khtml-border-radius: 100%;
	border-radius: 100%;
}
#scroll-to-top:hover {
	opacity: 0.8;
	filter: Alpha(opacity=80); /* IE8 and earlier */
}
/* End scroll to top button */